ul, li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}
header {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
figcaption {
    display: none;
}
.container_header {
    display: flex;
    align-items: center;
    margin: 21px 18px 0 0;
    justify-content: space-between;
}
.container_header-logo {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    margin-left: 18px;
}
.container_header-logo h1 {
    font-size: 21px;
    color: #212529;
}
.container_header-logo h2 {
    font-size: 16px;
    color: #FF2253;
    margin-left: 7px;
}
.container_header-icone_login_cadastro {
    width: 36px;
}
.pesquisa_produto {
    border: 1.5px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 12px;
    background: #E9ECEF;
    width: 80%;
    max-width: 342px;
    height: 49px;
    display: flex;
    align-items: center;
    margin: 36px auto;
}
.pesquisa_produto img{
    margin-left: 15px;
}
.pesquisa_produto input {
    background-color: transparent;
    border: none;
    padding:15px 16px;
}
.pesquisa_produto input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #868E96;
}
.pesquisa_produto input:focus {
    outline: 0;
}

.root{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.botoes_filtro {
    display: flex;
    margin: 0 0 28px 18px;
    flex-wrap: wrap;
}
.botoes_filtro button {
    border: none;
    background-color: transparent;
}
.botoes_filtro div {
    display: flex;
    align-items: center;
}
.botoes_filtro-todos {
    background-color: #F8F9FA;
    box-sizing: border-box;
    border-radius: 32px;
    padding: 10px;
    margin-right: 28px;
}
.botoes_filtro-panificadora {
    box-sizing: border-box;
    border-radius: 32px;
    background: #FFF7F4;
    padding: 10px;
    margin-right: 28px;
}
.botoes_filtro-frutas {
    background: #FFF1F4;
    box-sizing: border-box;
    border-radius: 32px;
    padding: 10px;
    margin-right: 28px;
}
.botoes_filtro-bebidas {
    background: #F3EEF5;
    box-sizing: border-box;
    border-radius: 32px;
    padding: 10px;
    margin-right: 28px;
}
.admim{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    font-family: 'Poppins';
    font-style: normal;
    color: #868E96;
}
.admim__index{
    display: none;
}
.lista{
    background: #FFFFFF;
    border: 1px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 3px;
}
.imagem{
    width: 100px;
    height: 100px;
}
h4{
    color: #212529;
}
span{
    margin: 5px;
    padding: 4px 15px 4px 15px;
    background-color: #F8F9FA;
    border-radius: 8px;
    color: #868E96;
    
}
.butao-um{
    width: 23px;
    height: 20px;
}
.butao-dois{
    width: 17px;
    height: 20px;
}

@media screen and (min-width: 768px) {
    .admim__box-lista{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 960px) {
    
    .admim__index{
        display: flex;
        justify-content: space-between;
        width: 930px;
        height: 62px;
    }

    .admim__box-lista{
        display: flex;
        flex-direction: column;
    }
        
    li{
        display: flex;
        justify-content: space-between;
    }

    .lista{

        width: 1000px;
        height: 62px;
        display: flex;
        display:grid;
        grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
    }

    .imagem{
        width: 32px;
        height: 32px;
    }

    .butao-um{
        width: 14px;
        height: 13px;
    }
    .butao-dois{
        width: 11px;
        height: 13px;
    }
    
}