body {
    font-family: 'Poppins', sans-serif !important;
}


ul, li{
    padding: 0px;
    margin: 0px;
    list-style: none;
}

/*header*/
header,main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
main {
    padding-top: 174px;
}
figcaption {
    display: none;
}
.container_header {
    position: fixed;
    top: 0;
    left: 0;
    height: 155px;
    width: 100%;
    background-color: white;
}
.container_header-logo {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    margin: 21px 0 0 18px; 
}
.container_header-logo h1 {
    font-size: 21px;
    color: #212529;
    font-weight: 700;
}
.container_header-logo h2 {
    font-size: 16px;
    color: #FF2253;
    margin-left: 7px;
    font-weight: 700;
}
.container_header-icone_login_cadastro {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container_header-icone_login_cadastro figure{
    width: 36px;
    position: fixed;
    top: 16px;
    left: 55%;
}
.container_header-icone_login_cadastro ul{
    list-style: none;
    background-color: #FFE9EE;
    padding: 30px 10px ;
    border-radius: 10px;
    position: absolute;
    top: 102%;
    left: -348%;
    display: flex;
}
.container_header-icone_login_cadastro figure:hover ul, .container_header-icone_login_cadastro figure.over ul{display: flex;}
.container_header-icone_login_cadastro button {
    background-color: #F8F9FA;
    border: none;
    padding: 10px;
    border-radius: 32px;
    margin: 0 5px;
    box-shadow:0 3px 10px 0 #ccc;
    cursor: pointer;
}
.pesquisa_produto {
    border: 1.5px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 12px;
    background: #E9ECEF;
    width: 140%;
    max-width: 342px;
    height: 49px;
    display: flex;
    align-items: center;
    margin: 36px auto;
    position: fixed;
    left: 6%;
}
.pesquisa_produto img{
    margin-left: 15px;
}
.pesquisa_produto input {
    background-color: transparent;
    border: none;
    padding:15px 16px;
}
.pesquisa_produto input::placeholder {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    color: #868E96;
}
.pesquisa_produto input:focus {
    outline: 0;
}

/*BOTOES FILTRO*/
.botoes__botoes_filtro {
    display: flex;
    margin: 0 0 28px 18px;
    flex-wrap: wrap;
}
.botoes__botoes_filtro button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.botoes__botoes_filtro div {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 1.5px solid #F3EEF5;
    box-sizing: border-box;
    padding: 15px 20px;
    border-radius: 32px;
}

.botoes__botoes_filtro div button {
    display: flex;
    align-items: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}

.botoes__botoes_filtro div button img{
    margin-right: 15px;
}

.botoes__botoes_filtro-todos {
    background-color: #F8F9FA;
    margin-right: 28px;
    width: 88px;
    height: 48px;
}
.botoes__botoes_filtro-panificadora {
    background: #FFF7F4;
    margin-right: 28px;
}
.botoes__botoes_filtro-panificadora button{
    justify-content: start;
}
.botoes__botoes_filtro-frutas {
    background: #FFF1F4;
    margin-right: 28px;
}
.botoes__botoes_filtro-bebidas {
    background: #F3EEF5;
    margin-right: 28px;
}

.botoes__botao-adicionar button{
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    border: none;
    /* color-primary */

    background: #FF2253;
    /* color-primary */

    border: 1.5px solid #FF2253;
    box-sizing: border-box;
    border-radius: 32px;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    /* grey-1 */

    color: #F8F9FA;
}

.root{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
}

/*lista*/

.admim{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95vw;
    font-family: 'Poppins';
    font-style: normal;
    color: #868E96;
}
.admim__index{
    display: none;
}
.admim__box-lista li{
    background: #FFFFFF;
    border: 1px solid #E9ECEF;
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 3px;
}
.admim__box-lista li img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
h4{
    color: #212529;
    font-weight: 500;
}
span{
    margin: 5px;
    padding: 4px 15px 4px 15px;
    background-color: #F8F9FA;
    border-radius: 8px;
    color: #868E96;
    
}
.admim__box-lista__lista__botao-alterar{
    width: 23px;
    height: 20px;
}
.admim__box-lista__lista__botao-lixeira{
    width: 17px;
    height: 20px;
}

.botao-sgv {
    height: 50px !important;
}


/* MODAL EXCLUIR */


.modal-excluir {
    width: 300px;
    height: 180px;
    background-color: rgb(255, 255, 255);
    border-radius: 24px;
}

.modal-excluir__header {
    border-radius: 24px 24px 0 0;
    height: 30px;
    padding: 2rem;
    background-color: #E9ECEF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-excluir__botoes {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    width: 100%;
   
   
}

.modal-excluir__botoes button {
    background-color: #fafafa;
    margin: 1rem;
    height: 40px;
    width: 90px;
    border: none;
    cursor: pointer;
    border-radius: 26px;

}

.botao-excluir-modal {
    background-color: #F8F9FA;
    height: 30px;
    margin: 1rem;

}

@media screen and (min-width: 769px) {
    .container_lateral {
    }
    main {
        padding-top: 122px;
    }
    .container_header {
        height: 72px;
        box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0.25);
    }
    .container_header-logo {
        margin: 20px 0 0 50px;
    }
    .container_header-icone_login_cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container_header-icone_login_cadastro figure{
        position: fixed;
        top: 16px;
        left: 93.5%;
    }
    .container_header-icone_login_cadastro ul {
        top: 125%;
    }
    .pesquisa_produto {
        width: 312px;
        margin: 0;
        position: fixed;
        top: 10px;
        left: 67%;
    }
    .pesquisa_produto input {
        padding:15px 25px;
    }
    /*BOTOES FILTRO*/
    .botoes__botoes_filtro {
        margin: 0 0 28px 50px;
    }

}

@media screen and (min-width: 768px) {
    .admim__box-lista{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .container_lateral {
    }
    main {
        padding-top: 122px;
    }
    .container_header {
        height: 72px;
        box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0.25);
    }
    .container_header-logo {
        margin: 20px 0 0 50px;
    }
    .container_header-icone_login_cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .container_header-icone_login_cadastro figure{
        position: fixed;
        top: 16px;
        left: 93.5%;
    }
    .container_header-icone_login_cadastro ul {
        top: 125%;
    }
    .pesquisa_produto {
        width: 312px;
        margin: 0;
        position: fixed;
        top: 10px;
        left: 67%;
    }
    .pesquisa_produto input {
        padding:15px 25px;
    }
    /*BOTOES FILTRO*/
    .botoes__botoes_filtro {
        margin: 0 0 28px 50px;
    }
}


@media screen and (min-width: 960px) {

    .botoes__botoes_filtro{
        flex-wrap: nowrap;
    }
    
    .botoes{
        display: flex;
        width: 1320px;
        justify-content: space-between;
        align-items: center;
    }
    
    .admim__index{
        display: flex;
        justify-content: space-between;
        width: 1280px;
        height: 62px;
    }

    .admim__box-lista{
        display: flex;
        flex-direction: column;
    }
        
    li{
        display: flex;
        justify-content: space-between;
    }

    .admim__box-lista li{
        width: 1320px;
        height: 62px;
        display: flex;
        display:grid;
        grid-template-columns: 1fr 5fr 5fr 5fr 1fr;
        place-content: center;
    }

    .admim__box-lista li img{
        width: 32px;
        height: 32px;
    }

    .admim__box-lista__lista__botao-alterar{
        width: 14px;
        height: 13px;
        cursor: pointer;
    }
    .admim__box-lista__lista__botao-lixeira{
        width: 11px;
        height: 13px;
        cursor: pointer;
    }
    
}


#modal{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(8, 8, 8, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

#status {
    position: absolute;
    z-index: 10;
    bottom: 0;
    right: 0;
    margin-bottom: 4rem;
    margin-right: 4rem;
    
}

div.mensagem-status {
    position: relative;
    width: 300px;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

div.mensagem-status p {
    margin-top: 2.7rem;
    padding: 1rem;
    color:#868E96

}

.status-titulo {
    position: absolute;
    top:0;
    padding: .7rem;
    background-color: #ebebeb;
    width: 100%;
    justify-self: start;
    color:#212529;
    font-weight: bold;
}

.mensagem-sucesso {
    position: relative;
    z-index: 300;
    width: 100%;
    height: 8px;
    background-color: #53df5f;
}


.mensagem-erro {
    position: relative;
    z-index: 300;
    width: 100%;
    height: 8px;
    background-color: #dd303f;
}

